extends ../layout

block content
    .main-nav
        .nav
            h2 Books
            a(href="/books/new", class="button") Create New Book
        form(action="/search" , method="get")
            input(type="search", id="search-input", name="search", class="search-input", placeholder="Search...")
            input(type="submit", id="search-submit", class="button search-submit" value!="&#x1F50D;")
    table
        tr
            th Title
            th Author
            th Genre
            th Year 
        each book in books
            tr
                td 
                    a(href = "/books/" + book.id) #{book.title}
                td
                    p= book.author
                td
                    p= book.genre
                td
                    p= book.year
    ul.pagination
        each pageLink in pageLinks
            li
                a(href=path + pageLink, name= pageLink, class="button " + (currentPage === pageLink ? "selected" : "adf"))= pageLink